.App {
  margin: 0px;
  padding: 0px;
}

/* Nav-bar section */
.menu-icon-container,
.header-icons {
  display: none;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.nav-bar > div {
  margin: 15px 5px 15px 15px;
  margin-bottom: 19px;
  padding: 5px;
  padding-top: 0px;
  font-size: 20px;
}

.sign-in-up {
  height: 45px;
  margin-top: 0px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.sign-in-up > div {
  flex: 1 1 auto;
  padding-bottom: 30px;
  margin: 5px;
}

.search-bar {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #1c2125;
  border-radius: 55px;
}

#search-field {
  display: inline-block;
  padding-top: 10px;
  height: 80%;
  width: 80%;
  outline: none;
  border: none;
  font-size: 15px;
}
#search-button {
  display: inline-block;
  height: 15px;
  width: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
}

.logo {
  width: 6%;
  height: 50%;
  padding-top: 15px;
}
#categories,
#business,
#teach {
  height: 100%;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  padding-bottom: 7px;
}

#categories:hover,
#business:hover,
#teach:hover {
  color: #5624d0;
}

#log-in {
  height: 40px;
  width: 85px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-style: solid;
  font: bold 14px arial;
  max-width: 110px;
}

#sign-up {
  height: 40px;
  width: 85px;
  cursor: pointer;
  background-color: black;
  color: white;
  font: bold 13px arial;
  max-width: 110px;
}

#log-in:hover,
#languages:hover {
  background-color: rgb(231, 231, 231);
}
#cart {
  height: 40px;
  width: 30px;
  cursor: pointer;
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  max-width: 110px;
}

#cart:hover {
  color: #5624d0;
}

#languages {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: white;
  background-repeat: no-repeat;
  max-width: 110px;
}
/* Header section */
.header {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1340px;
  height: 330px;
  background-color: rgba(244, 242, 242, 0.871);
  align-items: center;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 20px;
}

.wel-msg {
  padding: 0px 25px 15px 10px;
  background-color: white;
  margin-left: 80px;
  height: 160px;
  width: 350px;
}

.wel-msg h5 {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 25px;
  margin-left: 25px;
}

.wel-msg p {
  font-size: 15px;
  margin-left: 25px;
}

.alarm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Courses section */
.coursesSection {
  width: 1350px;
  /* max-width: 1600px; */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px 0px 15px 25px;
  border: 1px solid #d1d7dc;
}

.explore-button {
  display: inline-block;
  height: 50px;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  font-style: solid;
  font: bold 14px arial;
}

button:hover {
  background-color: rgb(231, 231, 231);
}

p {
  width: 60%;
  font-weight: 400;
  line-height: 1.4;
}

.courseTitle,
.coursePrice {
  font: bold 15px arial;
}

.coursePresenter {
  font-size: 13px;
}

.courseRating {
  font: bold 15px arial;
  color: rgb(172, 115, 8);
  padding-right: 5px;
}

.checked {
  color: orange;
  margin-right: 7px;
}

.link,
.link:hover {
  color: black;
}

.courseCard,
.loadingCourseCard,
.error {
  display: inline-block;
  width: 328px;
  margin-bottom: 0px;
  height: 350px;
  text-align: left;
}

.coursesCards {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  height: 100%;
}

.noMatchPage {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.courseSideBarContainer {
  position: absolute;
  top: 0;
  width: 350px;
  margin-left: 1300px;
  margin-top: 100px;
  padding: 1px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.courseSidebarCard {
  border-bottom: 1px solid #d1d7dc;
}

.courseSidebarUpperDiv {
  width: 100%;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.courseSidebarUpperButton {
  padding: 0px;
  width: 100%;
  height: 200px;
  outline: none;
  border: none;
}

.courseSidebarImageSpan,
.courseSidebarImage {
  margin: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.coursePreview {
  width: 350px;
  position: absolute;
  margin-top: 40px;
  padding-left: 80px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(28, 29, 31, 0) 0%,
    rgba(28, 29, 31, 0.9) 100%
  );
}

.previewIcon {
  width: 70px;
  margin-left: 60px;
}

.previewText {
  width: 100%;
  font: bold 20px arial;
  color: #fff;
}

.courseSidebarPrice {
  margin-top: 25px;
  margin-left: 25px;
  font: bold 35px arial;
}

.courseSidebarCardButton {
  width: 300px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 10px;
  font: bold 18px arial;
  color: #1c1d1f;
  background-color: #fff;
}

.courseSidebarCardButton:hover {
  background-color: rgb(231, 231, 231);
}

.addToCartButton {
  background-color: #a435f0;
  border: none;
}

.addToCartButton:hover {
  background-color: #8d25d3;
}

.moneyBack {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.courseSidebarOutlineDiv {
  width: 300px;
  align-items: left;
  margin-left: 25px;
}

.courseSidebarOutline {
  font: bold 14px arial;
}

.courseSidebarList {
  padding: 0px;
}
.courseSidebarLi {
  list-style-type: none;
}

.courseSideBarBottomContent {
  width: 300px;
  margin-top: 25px;
  margin-left: 25px;
}

.courseSideBarBottomDivPar {
  width: 100%;
}

.courseSideButtons {
  margin-bottom: 15px;
  margin-left: 10px;
}

.courseOptionButton {
  outline: none;
  border: none;
  font: bold 14px arial;
  margin-left: 13px;
  border-bottom: 1px solid #000;
}

.courseOptionButton,
.courseOptionButton:hover {
  background-color: #fff;
}

.tryUdemyButton {
  margin-bottom: 25px;
}
.courseTopSection {
  background-color: #1c1d1f;
  align-items: center;
  padding-top: 35px;
  height: 360px;
}

.topContainer {
  width: 650px;
  margin-left: 350px;
}

.landingTopMenu,
.landingTopMenu:hover,
.ratingCount,
.instructor,
.instructor:hover {
  color: #cec0fc;
  text-decoration: none;
}

.landingTopMenu {
  font: bold 15px arial;
  margin-right: 8px;
}

.fontAwesome {
  margin-right: 10px;
}

.courseTopContainerTitle,
.courseIntroduction,
.studentCount,
.lastUpdate,
.courseGlobe,
.courseCaptioning,
.courseInstructor {
  color: #fff;
  padding-top: 10px;
}

.courseTopContainerTitle {
  font: bold 35px arial;
}

.courseIntroduction {
  font-size: 20px;
  padding-bottom: 10px;
}

.lastUpdate,
.courseGlobe,
.courseCaptioning {
  margin-right: 10px;
}

.courseNavigationSection {
  height: 60px;
  border: 1px solid #d1d7dc;
  padding-left: 350px;
}

.shortcut-navigation-buttons {
  height: 100%;
}

.shortcutButton {
  width: 180px;
  height: 100%;
  outline: none;
  border: none;
  color: #6a6f73;
  background-color: white;
  font: bold 15px arial;
}
.shortcutButton:hover {
  background-color: #fff;
  color: black;
  border-bottom: 2px solid black;
}
.coursePageContent {
  margin-left: 350px;
}

.moreContentButton {
  width: 800px;
  height: 50px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  font: bold 18px arial;
  margin: 10px 0px 30px 0px;
}

.courseOutcomes {
  width: 800px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #d1d7dc;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  font: bold 25px arial;
}

.checkIcon {
  margin-right: 5px;
}

.outcomesList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.outcomesList > li {
  width: 350px;
  padding: 5px;
}

.outcomeItem {
  display: inline-block;
}

.content {
  width: 900px;
}
.courseContent {
  width: 800px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #d1d7dc;
}
.contentCount {
  width: 50%;
}

.expandButton {
  width: 50%;
  text-align: right;
  outline: none;
  border: none;
}

h6 {
  font: bold 30px arial;
  margin: 25px;
  margin-left: 0px;
}
.collapseController {
  background-color: #f7f9fa;
  border-bottom: 0.5px solid #d1d7dc;
  border-top: 0.5px solid #d1d7dc;
  cursor: pointer;
  padding-left: 25px;
  list-style-type: none;
}

.collapseButton {
  width: 96%;
  height: 70px;
  outline: none;
  border: none;
  text-align: left;
  background-color: #f7f9fa;
  font: bold 20px arial;
}
.collapseButton:hover {
  background-color: #f7f9fa;
}

.liClass {
  list-style-type: none;
  font: normal 18px arial;
  margin: 10px;
  margin-left: 0px;
}
.faCirclePlay {
  margin-right: 15px;
}

h3 {
  font: bold 25px arial;
}
.requirements {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
}

.courseDescription {
  margin-top: 15px;
  margin-bottom: 15px;
}
.courseDescription,
.moreOrLess {
  width: 1350px;
}
.targetPeople {
  width: 800px;
}
.descButtonDiv {
  width: 150px;
  cursor: pointer;
}

.descButton {
  outline: none;
  border: none;
  background-color: #fff;
  color: #5624d0;
  font: bold 17px arial;
  margin: 25px 0px 25px 0px;
}

.descButton:hover {
  background-color: #fff;
  color: #250870;
}
.courseInstructors {
  width: 1000px;
}
.instructorName {
  font: bold 20px arial;
  color: #5624d0;
}
.instructorName:hover {
  color: #250870;
}
.instructorIntro {
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  color: #6a6f73;
}

.instructorImage {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 200px;
}
.instructorLiClass {
  list-style-type: none;
  font: normal 18px arial;
  margin: 10px 0px 15px 0px;
}
.instructorRatings {
  position: absolute;
  margin-top: 15px;
  display: inline-block;
}

.feedbackUpperDiv {
  width: 900px;
  height: 200px;
}

.studentFbCourseRating {
  width: 400px;
  display: inline-block;
  align-items: center;
  position: absolute;
  padding-top: 40px;
}

.par1StudentFb {
  font: bold 75px arial;
  color: rgb(172, 115, 8);
}

.par2StudentFb {
  font: bold 18px arial;
  color: rgb(172, 115, 8);
}

.ratingsProgressBars {
  display: inline-block;
  width: 750px;
  margin-left: 135px;
}

.ratingBesidePrgBar {
  position: absolute;
  width: 200px;
}

.fa-star {
  margin-left: 0px;
  margin-right: 5px;
}

.ratingPercentage {
  color: #5624d0;
}

.ratingBesidePrgBar {
  display: inline-block;
}

.reviewSearchDiv {
  width: 900px;
  height: 50px;
}
.reviewFormDiv {
  display: inline-block;
  width: 560px;
  height: 100%;
  border: 1px solid #000;
  margin-right: 150px;
}

.reviewSearchForm {
  display: inline-block;
  width: 600px;
  height: 100%;
}

.reviewSearchField {
  width: 85%;
  padding: 0px 0px 0px 15px;
  outline: none;
  border: none;
}
.reviewSearchField,
.reviewSearchButton,
.allRatingButton {
  height: 100%;
}

.reviewSearchButton {
  width: 50px;
  background-color: #000;
  outline: none;
  border: none;
}
.reviewSearchButton:hover {
  background-color: #000;
}
.allRatingButton {
  width: 130px;
  background-color: #fff;
  color: #6a6f73;
}

.ratingsButtonText {
  margin-right: 10px;
}

.courseReview {
  width: 850px;
  margin: 25px 0px 25px 0px;
  border-bottom: 1px solid #d1d7dc;
}

.reviewImage {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  font: bold 15px arial;
  color: #fff;
  background-color: #000;
  border-radius: 25px;
  text-align: center;
  padding-top: 13px;
  margin-right: 10px;
}

.reviewCardContent {
  margin-left: 50px;
  margin-top: 5px;
  width: 85%;
  display: inline-block;
}

.likeOrDislike {
  width: 40px;
  height: 40px;
  border-radius: 55px;
  margin-right: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.mirror {
  display: inline-block;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.likeOrDislike:hover {
  background-color: rgb(231, 231, 231);
}

.reportButton,
.reportButton:hover {
  outline: none;
  border: none;
  background-color: #fff;
}
.moreReviewsButton {
  width: 850px;
  height: 50px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  font: bold 18px arial;
  margin: 10px 0px 30px 0px;
}

.footer {
  left: 0;
  bottom: 0;
  background-color: #1c1d1f;
  height: 500px;
  margin-bottom: 0px;
}

.topFooterDiv {
  height: 100px;
  border-bottom: 1px solid #3e4143;
}

.topHeading {
  font: bold 20px arial;
  color: #fff;
}

.footerUdemyBusiness,
.footerUdemyBusiness:hover {
  color: #cec0fc;
}

.topFooterHeading {
  display: inline-block;
  width: 700px;
  margin-left: 40px;
}

.topFooterLogos {
  display: inline-block;
  width: 610px;
  margin: 30px 0px 15px 480px;
}

.topFooterLogos > img {
  margin-right: 20px;
}

.bottomFooterDiv {
  align-items: center;
  padding: 30px;
}

.unstyled-list {
  display: inline-block;
  margin-left: 40px;
}

.unstyled-list > li {
  margin-bottom: 5px;
  list-style-type: none;
}
.footerListItems {
  color: #fff;
}

.languageSelectorContainer {
  position: absolute;
  width: 300px;
  position: relative;
  text-align: right;
  margin-left: auto;
}

.footerLanguageButton {
  width: 180px;
  height: 50px;
  background-color: #1c1d1f;
  color: #fff;
  border-color: #fff;
  font-size: 20px;
}

.footerLanguageButton:hover {
  background-color: rgba(49, 49, 49, 0.686);
}

.footerLastSection {
  margin-top: 20px;
}
.footerLogo {
  position: relative;
  width: 120px;
  margin-left: 70px;
}

.copyrightContainer {
  position: relative;
  color: #fff;
  text-align: right;
  margin-left: auto;
}

@media screen and (max-width: 1080px) {
  #business,
  .header {
    display: none;
  }

  #smallAlarm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(244, 242, 242, 0.871);
  }

  #small-wel-msg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  #header-icons {
    display: flex;
    margin: 0px;
    width: 100%;
    padding-left: 10px;
    max-width: none;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 930px) {
  #teach {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  #categories,
  .search-bar,
  #log-in,
  #sign-up,
  #languages,
  .header {
    display: none;
  }

  #header-icons {
    display: flex;
    width: 100%;
    margin: 0px;
    max-width: none;
    flex-direction: column-reverse;
  }

  .menu-icon-container {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  #udemy-logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 100%;
  }
}
